---
import ProfileAvatar from "./ProfileAvatar";
import { t } from "@/i18n";
---
<section id="about" class="container py-16 md:py-24 lg:py-32">
  <div class="mx-auto flex max-w-5xl flex-col md:flex-row items-center justify-between gap-16">
    <div class="order-2 md:order-1 text-center md:text-left">
      <h2 class="text-3xl font-bold tracking-tighter sm:text-4xl md:text-5xl mb-6">{t("header.about")}</h2>
      <div class="space-y-4 text-muted-foreground">
        <p>
          {t("hero.description")}
        </p>
      </div>
    </div>
    <div class="order-1 md:order-2">
      <ProfileAvatar client:load />
    </div>
  </div>
</section> 