---
import HeroButtons from "./HeroButtons";
import HeroText from "./HeroText";
import RotatingSphere from "./RotatingSphere";
---


<section id="hero" class="relative min-h-screen w-full flex flex-col items-center justify-center overflow-hidden p-0 m-0">
  <div class="absolute inset-0 w-full h-full z-10 pointer-events-none">
    <RotatingSphere client:load />
  </div>
  <div class="relative z-20 flex flex-col items-center justify-center min-h-screen w-full">
    <HeroText client:load />
    <div class="mt-8 flex justify-center">
      <HeroButtons client:load />
    </div>
  </div>
</section>