---
import HeroButtons from "./HeroButtons";
import HeroText from "./HeroText";
---

<section class="container flex flex-col items-center justify-center py-16 md:py-24 lg:py-32 text-center">
  <HeroText client:load />
  <div class="mt-8">
    <HeroButtons client:load />
  </div>
</section> 