---
import SkillBadges from "./SkillBadges";
import { t } from "../i18n";
import ScrollAnimation from "./ScrollAnimation";

// Récupérer la langue depuis l'URL
const urlPathname = Astro.url.pathname;
const lang = urlPathname.startsWith('/en') ? 'en' : 'fr';

// Définir les compétences avec les traductions
const skills = {
  [t("skills.languages", lang)]: ["Python", "JavaScript", "Typescript", "Dart", "PHP"],
  [t("skills.frameworks", lang)]: ["React", "Symfony", "VueJS", "NextJS", "NodeJS", "Flutter", "Electron"],
  [t("skills.database", lang)]: ["MySQL", "MongoDB"]
};
---

<section id="skills" class="container bg-muted/10 rounded-xl">
  <div class="mx-auto flex max-w-5xl flex-col items-center justify-center space-y-8 text-center">
    <h2 class="text-3xl font-bold tracking-tighter sm:text-5xl md:text-6xl opacity-0">{t("skills.title", lang)}</h2>
    <p class="max-w-[700px] text-muted-foreground md:text-xl/relaxed lg:text-xl/relaxed xl:text-2xl/relaxed opacity-0">
      {t("skills.description", lang)}
    </p>
  </div>
  <div class="bg-accent/10 rounded-xl p-10 mt-16 max-w-5xl mx-auto animate-content opacity-0">
    <SkillBadges client:load skills={skills} />
  </div>
  <ScrollAnimation client:load sectionId="skills" />
</section> 