---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro';
import Hero from '../../components/Hero.astro';
import About from '../../components/About.astro';
import Projects from '../../components/Projects.astro';
import Skills from '../../components/Skills.astro';
import Experience from '../../components/Experience.astro';
import Education from '../../components/Education.astro';
import Contact from '../../components/Contact.astro';
import Footer from '../../components/Footer.astro';

// Générer les pages pour chaque langue
export function getStaticPaths() {
  return [
    { params: { lang: 'fr' } },
    { params: { lang: 'en' } },
  ];
}

const { lang } = Astro.params;
---

<Layout title={"Milan Hommet"} lang={lang}>
	<Header />
	<main class="container py-8 space-y-16">
		<Hero />
		<About />
		<Projects />
		<Skills />
		<Experience />
		<Education />
		<Contact />
	</main>
	<Footer />
</Layout> 